
body {
  font-family: Verdana, sans-serif;
  margin: 0px auto;
  text-align: center;
  background-color: #FF0080;
  max-width: 900px;
}

h1 {
  text-align: center;
  color: white;
  font-family: 'copperplate';
  font-size: 50px;
}
button{
  padding: 10px;
  border-radius: 4px;
  background-color: pink;
  border: lightblue;
}

#incorrectButton, #correctButton{
  height: 100px;
  width: 100px;
}
.stage {
  background-color: #4ddbff;
  border-radius: 15px;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 400px;
  line-height: 400px;
}

.card {
  background-color: white;
  border: 1px solid #676767;
  border-radius: 15px;
  padding: 25px 0px;
  height: 300px;
  line-height: 300px;
}

.board {
  background-color: #4ddbff;
  border-radius: 15px;
  display: inline-block;
  margin: 10px;
  padding: 10px;
  width: 200px;
  height: 200px;
  line-height: 200px;
}

.scoreplace {
  background-color: white;
  border-radius: 15px;
  padding: 25px 0px;
  height: 100px;
  line-height: 100px;
}
.buttons{

}
